* {
  box-sizing: border-box;
}

body{
  font-family:"Poppins", serif;
  font-weight: 400 ;
}

img{
  border-radius: 5%;
}

.wrapper{
 max-width: 1200px; 
 margin: auto;
}

header nav{
  display: flex;
  justify-content: space-between;  
  align-items: center;
}

ul{
  display: flex;
  gap: 20px;
}

nav ul li{
  list-style: none;
  font-size: larger;
  flex-wrap: nowrap;
}


header a{
  text-decoration: none;
}

#lineup .wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-areas: 
  "div1 div1 div1"
  "div2 div3 div4";
  padding-top: 15px;
  gap: 20px;
}

#lineup img:nth-child(1){
  grid-area: div1;
  max-width: 100%;
}

#lineup img:nth-child(2){
  grid-area: div2;
  max-width: 100%;
}

#lineup img:nth-child(3){
  grid-area: div3;
  max-width: 100%;
}

#lineup img:nth-child(4){
  grid-area: div4;
  max-width: 100%;
}

h1{
  max-width: 1200px;
  margin: auto;
  font-size: 2.027rem;
  padding-top: 35px;
  padding-bottom: 20px;
  font-weight: 500;
}

section{
  max-width: 1200px;
  margin: auto;
}

#intro .btn, a:link a:visited{
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 4px 5px;
  border: 5px solid black;
}

#innovation{
  background-color: #f8fafc;
  text-align: left;
  padding-bottom: 30px;
  margin-top: 60px;
  padding-top: 10px;
}

#reviews{
  background-color: #000;
  color: #fff;
  padding: 10px;
  margin-bottom: 30px;
}

#reviews h2{
  text-align: center;
}

#reviews p{
  padding-bottom: 20px;
}


#reviews .wrapper div p{
  font-style: italic;
}

#flavours{
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
  "div1 div2"
  "div3 div4";
  gap: 25px;
}

#flavours img:nth-child(1){
  grid-area: div1;
  max-width: 100%;
  background-color: black;
}

#flavours img:nth-child(2){
  grid-area: div2;
  max-width: 100%;
  background-color: black;
}

#flavours img:nth-child(3){
  grid-area: div3;
  max-width: 100%;
  background-color: black;
}

#flavours img:nth-child(4){
  grid-area: div4;
  max-width: 100%;
  background-color: black;
}

h2{
  text-align: center;
}

#flavours{
  text-align: center;
  margin-top: 30px;
}

#intro .wrapper .bold{
  font-weight: 700;
}

@media(min-width: 768px){

#intro .wrapper div{
padding: 0;
}

#lineup .wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
  "div1 div2"
  "div3 div4";
  gap: 15px;
}

#lineup img:nth-child(1){
  grid-area: div1;
  max-width: 100%;
}

#lineup img:nth-child(2){
  grid-area: div2;
  max-width: 100%;
}

#lineup img:nth-child(3){
  grid-area: div3;
  max-width: 100%;
}

#lineup img:nth-child(4){
  grid-area: div4;
  max-width: 100%;
}

#innovation .wrapper article, p{
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  text-align: left;
}

#reviews .wrapper article{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: left;
  padding: 20px;

}

#flavours{
  display: flex;
  grid-template-columns: repeat(1, auto); 
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: 
  "div1 div2 div3 div4";
  gap: 20px;
}

#flavours img:nth-child(1){
  grid-area: div1;
  max-width: 100%;
  background-color: black;
}

#flavours img:nth-child(2){
  grid-area: div2;
  max-width: 100%;
  background-color: black;
}

#flavours img:nth-child(3){
  grid-area: div3;
  max-width: 100%;
  background-color: black;
}

#flavours img:nth-child(4){
  grid-area: div4;
  max-width: 100%;
  background-color: black;
}

#flavours div p{
justify-content: center;
padding-top: 0;
}
}

@media(min-width: 960px){


#bravo{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
}

footer{
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
  margin-bottom: 0;
}